body {
  aside {
    // display: none;
    .sidebar_menu {
      background-color: black;
      position: absolute;
      width: 300px;
      height: 100vh;
      left: -300px;
      z-index: 7;
      padding-left: 4rem;
      transition: left 0.5s ease-in-out;

      @include responsive(phone) {
        width: 200px;
      }
      .sidebar_nav {
        nav {
          ul {
            margin-top: 10rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @include responsive(phone) {
              margin-top: 8rem;
              gap: 3.5rem;
            }
            a {
              text-decoration: none;
              color: $main-bg-color;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 2.5rem;
              letter-spacing: 0.2rem;
              text-align: left;

              @include responsive(phone) {
                font-size: 1.4rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
    .active {
      left: 0px;
    }
    .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 6;
      backdrop-filter: blur(4px);
    }
    .overlay.hidden {
      display: none;
    }
  }
}

body.noScroll {
  overflow: hidden;
}
