body {
  position: relative;
  header {
    background-color: black;
    .header_container {
      max-width: 144rem;
      height: 10rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      @include responsive(pc) {
        padding: 0px 40px;
      }

      .header-content {
        max-width: 111rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger_menu_phone_version {
          display: none;

          @include responsive(phone) {
            display: inline-block;
          }
        }
        .logo {
          display: flex;
          align-items: center;
          gap: 4.2rem;

          @include responsive(phone) {
            justify-content: space-between;
          }

          .burger_menu {
            display: none;

            @include responsive(tablet) {
              display: inline-block;
              cursor: pointer;
              path {
                transition: 250ms;
              }
              &:hover {
                .burger_menu {
                  path {
                    fill: orange;
                    transition: 250ms;
                  }
                }
              }
            }

            .cart_icon {
              path {
                transition: 250ms;
              }
            }
            @include responsive(phone) {
              display: none;
            }
          }
        }
        .navigation {
          @include responsive(tablet) {
            display: none;
          }
          nav {
            ul {
              display: flex;
              gap: 5rem;

              a {
                text-decoration: none;
                color: $main-bg-color;
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 2.5rem;
                letter-spacing: 0.2rem;
                text-align: left;
              }

              a:hover {
                color: $button-bg-color;
                transition: 250ms;
              }
            }
          }
        }
        .cart {
          a {
            .cart_icon {
              path {
                transition: 250ms;
              }
            }
            &:hover {
              .cart_icon {
                path {
                  fill: orange;
                  transition: 250ms;
                }
              }
            }
          }
        }
      }
    }
    .underline {
      @extend %contentDiv;
      background-color: $main-bg-color;
      height: 0.5rem;
      opacity: 20%;

      @include responsive(pc) {
        width: auto;
        margin: 0 4rem;
      }
    }
  }
}
