body {
  header {
    background-color: black;
    .header_container {
      max-width: 144rem;
      height: 10rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .header-content {
        max-width: 111rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation {
          nav {
            ul {
              display: flex;
              gap: 5rem;

              a {
                text-decoration: none;
                color: $main-bg-color;
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 2.5rem;
                letter-spacing: 0.2rem;
                text-align: left;
                .cart_icon {
                  width: 24px;
                  height: 20px;
                  path {
                    transition: 250ms;
                  }
                }
                &:hover {
                  .cart_icon {
                    path {
                      // fill: $button-bg-color;
                      transition: 250ms;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .underline {
      max-width: 111rem;
      width: 100%;
      margin: 0 auto;
      background-color: $main-bg-color;
      height: 0.5rem;
      opacity: 20%;
    }
  }
}
