body {
  main {
    .new_product_container {
      background-color: black;
      .new_product_content {
        max-width: 111rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .np_desc_div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2.4rem;
          color: $main-bg-color;
          flex: 0.6;

          .new_product {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.912rem;
            letter-spacing: 1rem;
            text-align: left;
            opacity: 49%;
          }

          .product_name {
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 5.8rem;
            letter-spacing: 0.2rem;
            text-align: left;
          }
          .product_describtion {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.5rem;
            text-align: left;
          }
          .btn_wrapper {
            .btn_see_product {
              background-color: $button-bg-color;
              color: $main-bg-color;
              padding: 1.5rem 3rem;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.776rem;
              letter-spacing: 0.1rem;
              text-align: left;
              margin-top: 1.6rem;
              border: none;
            }
          }
        }
        .np_img_div {
          flex: 0.4;
          img {
            max-width: 58rem;
            height: 54rem;
          }
        }
      }
    }
    .selling_products_container {
      .selling_products_content {
        max-width: 111rem;
        width: 100%;
        margin: 0 auto;

        display: grid;
        padding-top: 12rem;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        .product_div {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          .image_wrapper {
            position: relative;
            .product_image {
              max-width: 12.2rem;
              height: 16rem;
            }
            .speakerImg {
              margin-top: 1.35rem;
              max-width: 16.8rem !important;
              height: 14.1rem;
            }
          }
          .product_name {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.459rem;
            letter-spacing: 0.12857142686843872rem;
            // text-align: center;
            margin-top: 3.3rem;
            // margin: 3.6rem 10.8rem 0 10.8rem;
          }
          .shop_container {
            display: flex;
            margin-top: 1.5rem;
            align-items: center;
            margin-bottom: 3rem;
            .shop {
              font-family: Manrope;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.776rem;
              letter-spacing: 0.1rem;
              text-align: left;
              margin-right: 1.32rem;
            }
            .arrow {
              width: 0.5rem;
              height: 1rem;
            }
          }
          .div_bg {
            position: absolute;
            width: 35rem;
            height: 3rem;
            background-color: $sec2-bg-color;
            bottom: 0;
            height: 20.4rem;
            z-index: -1;
          }
        }
      }
    }
    .advertise_container {
      margin-top: 11.2rem;
      .ad_content {
        @extend %contentDiv;
        display: flex;
        align-items: center;
        gap: 12.5rem;
        .ad_describtion_text {
          flex: 0.5;
          h3 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 4.4rem;
            letter-spacing: 0.14285714626312256rem;
            text-align: left;
            span {
              color: $button-bg-color;
            }
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-align: left;
            margin-top: 3.2rem;
          }
        }
        .ad_img {
          flex: 0.5;
        }
      }
    }
  }
}
