body {
  main {
    .new_product_container {
      @include responsive(pc) {
        padding: 0 4rem;
      }
      background-color: black;

      .new_product_content {
        @extend %contentDiv;
        display: flex;
        @include responsive(tablet) {
          justify-content: center;
          align-items: center;
        }
        position: relative;

        .np_desc_div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 2.4rem;
          color: $main-bg-color;
          flex: 0.6;
          z-index: 2;
          text-align: left;

          @include responsive(tablet) {
            text-align: center;
            flex: 1;
            z-index: 2;
            padding: 12.6rem 12rem 0;
          }

          @include responsive(phone) {
            padding: 10.8rem 3.5rem 0;
          }

          .new_product {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.912rem;
            letter-spacing: 1rem;

            opacity: 49%;
          }

          .product_name {
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 5.8rem;
            letter-spacing: 0.2rem;

            @include responsive(tablet) {
              font-size: 5.4rem;
            }

            @include responsive(phone) {
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 4rem;
              letter-spacing: 0.12857142686843872rem;
            }
          }
          .product_describtion {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.5rem;

            @include responsive(tablet) {
              font-size: 1.5rem;
            }

            @include responsive(phone) {
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .btn_wrapper {
            @include responsive(tablet) {
              margin-bottom: 16.7rem;

              text-align: center;
            }
            .btn_see_product {
              background-color: $button-bg-color;
              color: $main-bg-color;
              padding: 1.5rem 3rem;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.776rem;
              letter-spacing: 0.1rem;
              text-align: left;
              margin-top: 1.6rem;
              border: none;
            }
          }
        }
        .np_img_div {
          flex: 0.4;

          @include responsive(tablet) {
            z-index: 1;
            position: absolute;
            top: -20;
            object-position: center;
          }

          img {
            max-width: 58.1rem;
            width: 100%;

            @include responsive(tablet) {
              width: 100%;
            }
          }
        }
      }
    }
    .selling_products_container {
      .selling_products_content {
        @extend %contentDiv;

        display: grid;
        padding-top: 12rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        @include responsive(pc) {
          padding: 0 4rem;
          padding-top: 9.6rem;
          gap: 1rem;
        }

        @include responsive(phone) {
          grid-template-columns: 1fr;
          gap: 1.6rem;
          justify-items: center;
        }

        .product_div {
          max-width: 35rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          position: relative;

          @include responsive(phone) {
            width: 100%;
          }

          .image_wrapper {
            position: relative;
            .product_image {
              max-width: 12.2rem;
              height: 16rem;
            }
            .speakerImg {
              margin-top: 1.35rem;
              max-width: 16.8rem !important;
              height: 14.1rem;
            }
          }
          .product_name {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.459rem;
            letter-spacing: 0.12857142686843872rem;
            margin-top: 3.3rem;

            @include responsive(l-tablet) {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 2.049rem;
              letter-spacing: 0.10714285373687744rem;
              text-align: center;
            }
          }
          .shop_btn_wrapper {
            cursor: pointer;
            display: flex;
            margin-top: 1.5rem;
            align-items: center;
            margin-bottom: 3rem;

            @include responsive(l-tablet) {
              margin-top: 1.7rem;
              margin-bottom: 2.2rem;
            }
            .shop {
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.776rem;
              letter-spacing: 0.1rem;
              text-align: left;
              margin-right: 1.32rem;
            }
            .arrow {
              width: 0.5rem;
              height: 1rem;
            }
          }
          .div_bg {
            position: absolute;
            width: 100%;

            background-color: $sec2-bg-color;
            bottom: 0;

            height: 20.4rem;
            z-index: -1;

            @include responsive(phone) {
              flex: 1;
              width: 100%;
            }
          }
        }
      }
    }
    .advertise_container {
      margin-top: 11.2rem;
      .ad_content {
        @extend %contentDiv;
        display: flex;
        align-items: center;
        gap: 12.5rem;

        @include responsive(pc) {
          padding: 0px 40px;
        }

        @include responsive(tablet) {
          flex-direction: column;
          gap: 6.3rem;
        }

        .ad_describtion_text {
          flex: 0.5;
          h2 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 4.4rem;
            letter-spacing: 0.14285714626312256rem;
            text-align: left;

            @include responsive(tablet) {
              margin-bottom: 3.2rem;
              text-align: center;
            }

            span {
              color: $button-bg-color;
            }
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-align: left;
            margin-top: 3.2rem;

            @include responsive(tablet) {
              text-align: center;
            }
          }
        }
        .ad_img {
          flex: 0.5;
          justify-self: center;
          @include responsive(tablet) {
            order: -1;
            flex: 1;
            width: 100%;

            max-height: 60rem;
            min-height: 30rem;
            object-fit: contain;
            object-position: top;
            overflow: hidden;
          }
          img {
            width: 100%;
            object-position: top;

            // object-position: top;
          }
        }
      }
    }
    .customer_reviews_container {
      .customer_reviews_container {
        @extend %contentDiv;
        padding-top: 12rem;

        @include responsive(pc) {
          padding: 0px 40px;
          padding-top: 12rem;
        }

        .costumers_review_header {
          @extend %flex;
          position: relative;
          h2 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 5.76rem;
            text-align: left;
          }
          // div {
          //   // display: flex;
          //   // align-items: center;
          //   // justify-content: center;
          //   // gap: 1.432rem;
          // }
          .swiper_btn {
            position: relative;
            // display: flex;
            // flex-direction: column;
            .swiper-button-prev {
              // position: absolute;
              // top: -10px;
              left: var(--swiper-navigation-sides-offset, -80px);
              // right: -30px;
              // right: var(--swiper-navigation-size, 0);
            }
            .swiper-button-next {
              position: absolute;

              right: var(--swiper-navigation-sides-offset, 0px);
            }
          }
        }
      }
      .swiper {
        width: 100%;
        height: 100%;
      }
      .costumer_review_wrapper {
        margin-top: 5.3rem;
        display: flex;
        justify-content: space-between;
        gap: 1.8rem;
        @include responsive(tablet) {
          gap: 1rem;
        }

        @include responsive(phone) {
          flex-direction: column;
          align-items: center;
          gap: 2.8rem;
        }
        .swiper-wrapper {
          display: flex;
          justify-content: space-between;
          gap: 1.8rem;

          // .swiper-slide {
          //   text-align: center;
          //   font-size: 18px;
          //   background: #fff;
          //   display: flex;
          //   flex-direction: column;
          //   justify-content: center;
          //   align-items: center;
          // }

          .costumer_review {
            padding: 2.8rem 3.2rem;
            border: 1px black solid;

            border-radius: 2rem;

            max-width: 35rem;
            width: 100%;
            .review_star {
              display: flex;
              gap: 0.6rem;
            }
            div {
              margin-top: 1.95rem;
              display: flex;
              align-items: center;
              gap: 0.4rem;
              .costumer_name {
                font-family: Satoshi;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.2rem;
                text-align: left;
              }
            }
            p {
              margin-top: 2rem;
              font-family: Noto Sans Georgian;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 2.2rem;
              text-align: left;
            }
          }
        }
      }
    }
    .sale_offer_container {
      .sale_offer_content {
        @extend %contentDiv;
        padding-top: 12rem;
        @include responsive(pc) {
          padding: 1.2rem 4rem;
        }
        .sale_off_header {
          font-family: Noto Sans Georgian;
          font-size: 4.8rem;
          font-weight: 900;
          line-height: 6.528rem;
          text-align: left;
        }
        .sale_timer_wrapper {
          display: flex;

          gap: 3.6rem;
          padding-top: 4.8rem;
          // width: 100%;
          // display: flex;
          // justify-content: space-between;
          .count-down_div {
            border-radius: 2.2rem;
            max-width: 25.2rem;
            width: 100%;
            padding: 4.6rem 3.6rem;
            background-color: $bleck-color;
            color: $main-bg-color;
            p:first-child {
              font-size: 6.4rem;
              font-weight: 900;
              line-height: 9.6rem;
              text-align: center;
            }
            p:last-child {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 2.4rem;
              text-align: center;
            }
          }
        }
        .top_sale_products {
          display: none;
          cursor: pointer;
          padding-top: 7rem;
          // text-align: center;
          p {
            font-size: 2.7rem;
            font-weight: 600;
            line-height: 2.4rem;
            // text-align: center;
            span {
              color: $button-bg-color;
            }
          }
        }
      }
    }
  }
}
