body {
  header {
    background-color: black;
    .header_container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .header-content {
        max-width: 1110px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation {
          nav {
            ul {
              display: flex;
              gap: 50px;

              a {
                text-decoration: none;
                color: $main-bg-color;
                font-size: 13px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 2px;
                text-align: left;
              }
            }
          }
        }
      }
    }

    .underline {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: $main-bg-color;
      height: 5px;
      opacity: 20%;
    }
  }
}
