/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body main .customer_reviews_container .customer_reviews_container .costumers_review_header {
  display: flex;
  justify-content: space-between;
}

body footer .footer_container .footer_content, body main .sale_offer_container .sale_offer_content, body main .customer_reviews_container .customer_reviews_container, body main .advertise_container .ad_content, body main .selling_products_container .selling_products_content, body main .new_product_container .new_product_content, body header .underline {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
}
body header {
  background-color: black;
}
body header .header_container {
  max-width: 144rem;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  body header .header_container {
    padding: 0px 40px;
  }
}
body header .header_container .header-content {
  max-width: 111rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header-content .burger_menu_phone_version {
  display: none;
}
@media only screen and (max-width: 760px) {
  body header .header_container .header-content .burger_menu_phone_version {
    display: inline-block;
  }
}
body header .header_container .header-content .logo {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}
@media only screen and (max-width: 760px) {
  body header .header_container .header-content .logo {
    justify-content: space-between;
  }
}
body header .header_container .header-content .logo .burger_menu {
  display: none;
}
@media only screen and (max-width: 1070px) {
  body header .header_container .header-content .logo .burger_menu {
    display: inline-block;
    cursor: pointer;
  }
  body header .header_container .header-content .logo .burger_menu path {
    transition: 250ms;
  }
  body header .header_container .header-content .logo .burger_menu:hover .burger_menu path {
    fill: orange;
    transition: 250ms;
  }
}
body header .header_container .header-content .logo .burger_menu .cart_icon path {
  transition: 250ms;
}
@media only screen and (max-width: 760px) {
  body header .header_container .header-content .logo .burger_menu {
    display: none;
  }
}
@media only screen and (max-width: 1070px) {
  body header .header_container .header-content .navigation {
    display: none;
  }
}
body header .header_container .header-content .navigation nav ul {
  display: flex;
  gap: 5rem;
}
body header .header_container .header-content .navigation nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
body header .header_container .header-content .navigation nav ul a:hover {
  color: #d87d4a;
  transition: 250ms;
}
body header .header_container .header-content .cart a .cart_icon path {
  transition: 250ms;
}
body header .header_container .header-content .cart a:hover .cart_icon path {
  fill: orange;
  transition: 250ms;
}
body header .underline {
  background-color: #ffffff;
  height: 0.5rem;
  opacity: 20%;
}
@media only screen and (max-width: 1200px) {
  body header .underline {
    width: auto;
    margin: 0 4rem;
  }
}

body aside .sidebar_menu {
  background-color: black;
  position: absolute;
  width: 300px;
  height: 100vh;
  left: -300px;
  z-index: 7;
  padding-left: 4rem;
  transition: left 0.5s ease-in-out;
}
@media only screen and (max-width: 760px) {
  body aside .sidebar_menu {
    width: 200px;
  }
}
body aside .sidebar_menu .sidebar_nav nav ul {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media only screen and (max-width: 760px) {
  body aside .sidebar_menu .sidebar_nav nav ul {
    margin-top: 8rem;
    gap: 3.5rem;
  }
}
body aside .sidebar_menu .sidebar_nav nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
@media only screen and (max-width: 760px) {
  body aside .sidebar_menu .sidebar_nav nav ul a {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
body aside .active {
  left: 0px;
}
body aside .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
body aside .overlay.hidden {
  display: none;
}

body.noScroll {
  overflow: hidden;
}

body main .new_product_container {
  background-color: black;
}
@media only screen and (max-width: 1200px) {
  body main .new_product_container {
    padding: 0 4rem;
  }
}
body main .new_product_container .new_product_content {
  display: flex;
  position: relative;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content {
    justify-content: center;
    align-items: center;
  }
}
body main .new_product_container .new_product_content .np_desc_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  color: #ffffff;
  flex: 0.6;
  z-index: 2;
  text-align: left;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_desc_div {
    text-align: center;
    flex: 1;
    z-index: 2;
    padding: 12.6rem 12rem 0;
  }
}
@media only screen and (max-width: 760px) {
  body main .new_product_container .new_product_content .np_desc_div {
    padding: 10.8rem 3.5rem 0;
  }
}
body main .new_product_container .new_product_content .np_desc_div .new_product {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.912rem;
  letter-spacing: 1rem;
  opacity: 49%;
}
body main .new_product_container .new_product_content .np_desc_div .product_name {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_desc_div .product_name {
    font-size: 5.4rem;
  }
}
@media only screen and (max-width: 760px) {
  body main .new_product_container .new_product_content .np_desc_div .product_name {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.1285714269rem;
  }
}
body main .new_product_container .new_product_content .np_desc_div .product_describtion {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_desc_div .product_describtion {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 760px) {
  body main .new_product_container .new_product_content .np_desc_div .product_describtion {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_desc_div .btn_wrapper {
    margin-bottom: 16.7rem;
    text-align: center;
  }
}
body main .new_product_container .new_product_content .np_desc_div .btn_wrapper .btn_see_product {
  background-color: #d87d4a;
  color: #ffffff;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.776rem;
  letter-spacing: 0.1rem;
  text-align: left;
  margin-top: 1.6rem;
  border: none;
}
body main .new_product_container .new_product_content .np_img_div {
  flex: 0.4;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_img_div {
    z-index: 1;
    position: absolute;
    top: -20;
    -o-object-position: center;
       object-position: center;
  }
}
body main .new_product_container .new_product_content .np_img_div img {
  max-width: 58.1rem;
  width: 100%;
}
@media only screen and (max-width: 1070px) {
  body main .new_product_container .new_product_content .np_img_div img {
    width: 100%;
  }
}
body main .selling_products_container .selling_products_content {
  display: grid;
  padding-top: 12rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media only screen and (max-width: 1200px) {
  body main .selling_products_container .selling_products_content {
    padding: 0 4rem;
    padding-top: 9.6rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 760px) {
  body main .selling_products_container .selling_products_content {
    grid-template-columns: 1fr;
    gap: 1.6rem;
    justify-items: center;
  }
}
body main .selling_products_container .selling_products_content .product_div {
  max-width: 35rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 760px) {
  body main .selling_products_container .selling_products_content .product_div {
    width: 100%;
  }
}
body main .selling_products_container .selling_products_content .product_div .image_wrapper {
  position: relative;
}
body main .selling_products_container .selling_products_content .product_div .image_wrapper .product_image {
  max-width: 12.2rem;
  height: 16rem;
}
body main .selling_products_container .selling_products_content .product_div .image_wrapper .speakerImg {
  margin-top: 1.35rem;
  max-width: 16.8rem !important;
  height: 14.1rem;
}
body main .selling_products_container .selling_products_content .product_div .product_name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.459rem;
  letter-spacing: 0.1285714269rem;
  margin-top: 3.3rem;
}
@media only screen and (max-width: 1050px) {
  body main .selling_products_container .selling_products_content .product_div .product_name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.049rem;
    letter-spacing: 0.1071428537rem;
    text-align: center;
  }
}
body main .selling_products_container .selling_products_content .product_div .shop_btn_wrapper {
  cursor: pointer;
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1050px) {
  body main .selling_products_container .selling_products_content .product_div .shop_btn_wrapper {
    margin-top: 1.7rem;
    margin-bottom: 2.2rem;
  }
}
body main .selling_products_container .selling_products_content .product_div .shop_btn_wrapper .shop {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.776rem;
  letter-spacing: 0.1rem;
  text-align: left;
  margin-right: 1.32rem;
}
body main .selling_products_container .selling_products_content .product_div .shop_btn_wrapper .arrow {
  width: 0.5rem;
  height: 1rem;
}
body main .selling_products_container .selling_products_content .product_div .div_bg {
  position: absolute;
  width: 100%;
  background-color: #f1f1f1;
  bottom: 0;
  height: 20.4rem;
  z-index: -1;
}
@media only screen and (max-width: 760px) {
  body main .selling_products_container .selling_products_content .product_div .div_bg {
    flex: 1;
    width: 100%;
  }
}
body main .advertise_container {
  margin-top: 11.2rem;
}
body main .advertise_container .ad_content {
  display: flex;
  align-items: center;
  gap: 12.5rem;
}
@media only screen and (max-width: 1200px) {
  body main .advertise_container .ad_content {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 1070px) {
  body main .advertise_container .ad_content {
    flex-direction: column;
    gap: 6.3rem;
  }
}
body main .advertise_container .ad_content .ad_describtion_text {
  flex: 0.5;
}
body main .advertise_container .ad_content .ad_describtion_text h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0.1428571463rem;
  text-align: left;
}
@media only screen and (max-width: 1070px) {
  body main .advertise_container .ad_content .ad_describtion_text h2 {
    margin-bottom: 3.2rem;
    text-align: center;
  }
}
body main .advertise_container .ad_content .ad_describtion_text h2 span {
  color: #d87d4a;
}
body main .advertise_container .ad_content .ad_describtion_text p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 3.2rem;
}
@media only screen and (max-width: 1070px) {
  body main .advertise_container .ad_content .ad_describtion_text p {
    text-align: center;
  }
}
body main .advertise_container .ad_content .ad_img {
  flex: 0.5;
  justify-self: center;
}
@media only screen and (max-width: 1070px) {
  body main .advertise_container .ad_content .ad_img {
    order: -1;
    flex: 1;
    width: 100%;
    max-height: 60rem;
    min-height: 30rem;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    overflow: hidden;
  }
}
body main .advertise_container .ad_content .ad_img img {
  width: 100%;
  -o-object-position: top;
     object-position: top;
}
body main .customer_reviews_container .customer_reviews_container {
  padding-top: 12rem;
}
@media only screen and (max-width: 1200px) {
  body main .customer_reviews_container .customer_reviews_container {
    padding: 0px 40px;
    padding-top: 12rem;
  }
}
body main .customer_reviews_container .customer_reviews_container .costumers_review_header {
  position: relative;
}
body main .customer_reviews_container .customer_reviews_container .costumers_review_header h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.76rem;
  text-align: left;
}
body main .customer_reviews_container .customer_reviews_container .costumers_review_header .swiper_btn {
  position: relative;
}
body main .customer_reviews_container .customer_reviews_container .costumers_review_header .swiper_btn .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -80px);
}
body main .customer_reviews_container .customer_reviews_container .costumers_review_header .swiper_btn .swiper-button-next {
  position: absolute;
  right: var(--swiper-navigation-sides-offset, 0px);
}
body main .customer_reviews_container .swiper {
  width: 100%;
  height: 100%;
}
body main .customer_reviews_container .costumer_review_wrapper {
  margin-top: 5.3rem;
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}
@media only screen and (max-width: 1070px) {
  body main .customer_reviews_container .costumer_review_wrapper {
    gap: 1rem;
  }
}
@media only screen and (max-width: 760px) {
  body main .customer_reviews_container .costumer_review_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
  }
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper .costumer_review {
  padding: 2.8rem 3.2rem;
  border: 1px black solid;
  border-radius: 2rem;
  max-width: 35rem;
  width: 100%;
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper .costumer_review .review_star {
  display: flex;
  gap: 0.6rem;
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper .costumer_review div {
  margin-top: 1.95rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper .costumer_review div .costumer_name {
  font-family: Satoshi;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  text-align: left;
}
body main .customer_reviews_container .costumer_review_wrapper .swiper-wrapper .costumer_review p {
  margin-top: 2rem;
  font-family: Noto Sans Georgian;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: left;
}
body main .sale_offer_container .sale_offer_content {
  padding-top: 12rem;
}
@media only screen and (max-width: 1200px) {
  body main .sale_offer_container .sale_offer_content {
    padding: 1.2rem 4rem;
  }
}
body main .sale_offer_container .sale_offer_content .sale_off_header {
  font-family: Noto Sans Georgian;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 6.528rem;
  text-align: left;
}
body main .sale_offer_container .sale_offer_content .sale_timer_wrapper {
  display: flex;
  gap: 3.6rem;
  padding-top: 4.8rem;
}
body main .sale_offer_container .sale_offer_content .sale_timer_wrapper .count-down_div {
  border-radius: 2.2rem;
  max-width: 25.2rem;
  width: 100%;
  padding: 4.6rem 3.6rem;
  background-color: #101010;
  color: #ffffff;
}
body main .sale_offer_container .sale_offer_content .sale_timer_wrapper .count-down_div p:first-child {
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 9.6rem;
  text-align: center;
}
body main .sale_offer_container .sale_offer_content .sale_timer_wrapper .count-down_div p:last-child {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: center;
}
body main .sale_offer_container .sale_offer_content .top_sale_products {
  display: none;
  cursor: pointer;
  padding-top: 7rem;
}
body main .sale_offer_container .sale_offer_content .top_sale_products p {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 2.4rem;
}
body main .sale_offer_container .sale_offer_content .top_sale_products p span {
  color: #d87d4a;
}

body footer {
  background-color: #101010;
}
body footer .footer_container {
  margin-top: 50rem;
}
@media only screen and (max-width: 1200px) {
  body footer .footer_container {
    padding: 0px 40px;
  }
}
body footer .footer_container .footer_content {
  padding-top: 7.5rem;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content {
    padding-top: 5.6rem;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content {
    padding-top: 4.8rem;
  }
}
body footer .footer_container .footer_content .footer_logo_nav {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content .footer_logo_nav {
    flex-direction: column;
    gap: 3.2rem;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_logo_nav {
    align-items: center;
    gap: 4.8rem;
  }
}
body footer .footer_container .footer_content .footer_logo_nav nav ul {
  display: flex;
  gap: 3.4rem;
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_logo_nav nav ul {
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
  }
}
body footer .footer_container .footer_content .footer_logo_nav nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
body footer .footer_container .footer_content .footer_logo_nav nav ul a:hover {
  color: orange;
  transition: 250ms;
}
body footer .footer_container .footer_content .footer_about_us {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content .footer_about_us {
    margin-top: 3.2rem;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_about_us {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 4.6rem;
  }
}
body footer .footer_container .footer_content .footer_about_us .about_us {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  opacity: 0.5;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content .footer_about_us .about_us {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_about_us .about_us {
    text-align: center;
  }
}
body footer .footer_container .footer_content .footer_about_us .online_sources {
  right: 0;
  justify-self: flex-end;
  align-self: flex-end;
  gap: 2rem;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content .footer_about_us .online_sources {
    justify-self: flex-end;
    margin-bottom: 4.6rem;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_about_us .online_sources {
    justify-self: center;
    margin-bottom: 3.8rem;
    gap: 1.6rem;
  }
}
body footer .footer_container .footer_content .footer_about_us .online_sources ul {
  display: flex;
  gap: 1.6rem;
}
body footer .footer_container .footer_content .footer_about_us .online_sources ul li a .online_platform path {
  transition: 250ms;
}
body footer .footer_container .footer_content .footer_about_us .online_sources ul li a:hover .online_platform path {
  fill: orange;
  transition: 250ms;
}
body footer .footer_container .footer_content .footer_about_us .copyright {
  margin-top: 5.6rem;
  margin-bottom: 4.8rem;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: left;
}
@media only screen and (max-width: 1070px) {
  body footer .footer_container .footer_content .footer_about_us .copyright {
    grid-area: 2/1;
    margin-top: 8rem;
    margin-bottom: 4.6rem;
    align-self: center;
  }
}
@media only screen and (max-width: 760px) {
  body footer .footer_container .footer_content .footer_about_us .copyright {
    margin-top: 4.8rem;
    margin-bottom: 4.6rem;
  }
}/*# sourceMappingURL=global.css.map */