/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body main .sec3_container .sec3_content {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
}

body header {
  background-color: black;
}
body header .header_container {
  max-width: 144rem;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body header .header_container .header-content {
  max-width: 111rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header-content .navigation nav ul {
  display: flex;
  gap: 5rem;
}
body header .header_container .header-content .navigation nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
body header .underline {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 0.5rem;
  opacity: 20%;
}

body main .sec1_container {
  background-color: black;
}
body main .sec1_container .sec1_content {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
body main .sec1_container .sec1_content .desc_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem4;
  color: #ffffff;
}
body main .sec1_container .sec1_content .desc_div .new_product {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.912rem;
  letter-spacing: 1rem;
  text-align: left;
  opacity: 49%;
}
body main .sec1_container .sec1_content .desc_div .product_name {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
body main .sec1_container .sec1_content .desc_div .product_describtion {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: left;
}
body main .sec1_container .sec1_content .desc_div .btn_wrapper .btn_see_product {
  background-color: #d87d4a;
  color: #ffffff;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.776rem;
  letter-spacing: 0.1rem;
  text-align: left;
  margin-top: 1.6rem;
  border: none;
}
body main .sec1_container .sec1_content .img_div img {
  max-width: 58rem;
  height: 54rem;
}
body main .sec2_container .sec2_content {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 12rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
body main .sec2_container .sec2_content .products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
body main .sec2_container .sec2_content .products .image_wrapper {
  position: relative;
}
body main .sec2_container .sec2_content .products .image_wrapper .product_image {
  max-width: 12.2rem;
  height: 16rem;
}
body main .sec2_container .sec2_content .products .image_wrapper .speakerImg {
  margin-top: 1.35rem;
  max-width: 16.8rem !important;
  height: 14.1rem;
}
body main .sec2_container .sec2_content .products .product_name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.459rem;
  letter-spacing: 0.1285714269rem;
  margin-top: 3.3rem;
}
body main .sec2_container .sec2_content .products .shop_container {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  margin-bottom: 3rem;
}
body main .sec2_container .sec2_content .products .shop_container .shop {
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.776rem;
  letter-spacing: 0.1rem;
  text-align: left;
  margin-right: 1.32rem;
}
body main .sec2_container .sec2_content .products .shop_container .arrow {
  width: 0.5rem;
  height: 1rem;
}
body main .sec2_container .sec2_content .products .div_bg {
  position: absolute;
  width: 35rem;
  height: 3rem;
  background-color: #f1f1f1;
  bottom: 0;
  height: 20.4rem;
  z-index: -1;
}
body main .sec3_container {
  margin-top: 11.2rem;
}
body main .sec3_container .sec3_content {
  display: flex;
  align-items: center;
  gap: 12.5rem;
}
body main .sec3_container .sec3_content .sec3_describtion_text h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0.1428571463rem;
  text-align: left;
}
body main .sec3_container .sec3_content .sec3_describtion_text h3 span {
  color: #d87d4a;
}
body main .sec3_container .sec3_content .sec3_describtion_text p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 3.2rem;
}/*# sourceMappingURL=global.css.map */